body {
	background: url(pattern.png);
	font-family: "Roboto", sans-serif;	
	overflow-x: hidden;
}

.content>h3 {
	text-transform: uppercase;
	font-family: Helvetica;
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

.content {
	background: #FA6900;
	left: 30vw;
	right: 30vw;
	position: absolute;
	top: 0px;
	bottom: 30px;
	font-size: 25px;
	overflow-y: auto;

	box-shadow: 10px 0 15px -1px rgba(31, 73, 125, 0.8), -10px 0 15px -1px rgba(31, 73, 125, 0.8);



}



.checked>span {
	text-decoration: line-through;
}

.unchecked:before {
	font-family: 'FontAwesome';
	content: "\f096";
	margin:0 5px 0 -15px;
}

.checked:before {
	font-family: 'FontAwesome';
	content: "\f046";
	margin:0 5px 0 -15px;
}


li {list-style-type: none;}


input.holo[type='text'] {
    font-size: 16px;
    width: 92%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 8px 8px 6px 8px;
    display: block;
    outline: none;
    border: none;
    background: bottom left linear-gradient(black, black) no-repeat, bottom center linear-gradient(black, black) repeat-x, bottom right linear-gradient(black, black) no-repeat;
    background-size: 0px 6px, 1px 1px, 0px 6px;
    color: black;
}

input::-webkit-input-placeholder{
    color:#464646;
}
input:-moz-placeholder {
    color:#464646;
}

input.holo[type='text']:hover, input.holo[type='text']:focus {
    background: bottom left linear-gradient(#464646, #464646) no-repeat, bottom center linear-gradient(#464646, #464646) repeat-x, bottom right linear-gradient(#464646, #464646) no-repeat;
    background-size: 0px 6px, 1px 1px, 0px 6px; 
} 

footer {
	position: absolute;
	font-size: 16px;
	bottom: 5px;
	text-align: center;
	width: 100%;
}

.newtask {
	margin-bottom: 50px;
}


::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #F38939; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.unchecked>i {
	margin-left: 3px;
}
